@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #FDFAEF;
  
}

.divTopText{
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2.3em;
    margin-bottom: 2.3em;

}

.h1TopText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #564034;

}

.Whitebox{
    width: 1125px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;

    background: #FFFFFF;
    border: 1px solid #FDEBD8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}

.fpLockImage{
    margin-top: 2em;
    margin-bottom: 1.2em;
    width: 172px;
    height: 172px;
    
}


.fp-paragraph{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;

}

.fp-textbox{
    width: 22em;
    height: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    
    letter-spacing: 0.05em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.3em;
    color: #404246;
    border: 1px solid #cfcece;
    background: white;
    
       
}


.fp-div-buttons{
    margin-top: 1.7em;
}

.fp-button1{
    width: 200px;
    height: 55px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;

    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    background-color: #564034;
    
    border-radius: 70px;
    margin: 0.8em;
      
}

.fp-button2{
    width: 200px;
    height: 55px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    

   
    color: #564034;
    background-color: #FFFFFF;
    border-color: #564034;
    
    border-radius: 70px;
    margin: 0.8em;
    
}

.fp-button1:hover{
    cursor: pointer;
}

.fp-button2:hover{
    cursor: pointer;
    
}

.errorMessageStyle{
    color: red;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-bottom: none;
}







