@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.fpLockImage{
    margin-top: 2em;
    margin-bottom: 1.2em;
    width: 172px;
    height: 172px;
    
}

.text-box-position{
    position: relative;
    left: -5em;
}

.rp-paragraph1{
    position: auto;
    left: 12em;
    bottom: 11.5em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    margin-right: 2%;
   
    /* identical to box height */

    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    
}

.rp-paragraph2{
 
    position: relative;
    left: -2em;
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    margin-right: 2%;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    
}

.rs-textbox1{
    width: 22em;
    height: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    
    letter-spacing: 0.05em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
   
    color: #404246;
    border: 1px solid #cfcece;
    background: white;
       
}

.rs-textbox2{
    position: relative;
    width: 22em;
    height: 50px;
    left: -2.3em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    
    letter-spacing: 0.05em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;

    color: #404246;
    border: 1px solid #cfcece;
    background: white;
       
}

.rp-button-info{
    width: 35px;
    height: 35px;

    position: relative;
    top: 0.1em;
    left: -2.2em;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;

    color: #FFFFFF;
    background-color: #564034;
    
    border-radius: 100%;
    border-color: #564034;
    
}

.rp-button-info:hover{
    background-color: #FDFAEF;
    color: #564034;
}

.fp-div-buttons{
    margin-top: 2em;
}

.fp-button1{
    width: 200px;
    height: 55px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;

    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    background-color: #564034;
    
    border-radius: 70px;
    margin: 0.8em;
      
}

.fp-button2{
    width: 200px;
    height: 55px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    

   
    color: #564034;
    background-color: #FFFFFF;
    border-color: #564034;
    
    border-radius: 70px;
    margin: 0.8em;
    
}

.passwordrules-box{
    position: relative;
    left: 70%;
    bottom: 290px;
    background-color: #FDFAEF;
    color: #564034;
    width: 215px;
    border-radius: 15px;
    z-index: 3;
    padding: 1%;
    padding-left: 1.8%;
    padding-right: 1.8%;
    font-size: 12px;
    z-index: 1;
    border: 1.5px solid #A6A5A5;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing: 1px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    display: none;
    

}

.fp-paragraph{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;

}

.rp-button-info:hover{
    background-color: #FDFAEF;
    color: #564034;
    cursor: pointer;
}

.fp-button1:hover{
    cursor: pointer;
}

.fp-button2:hover{
    cursor: pointer;
    
}

.rp_errorMessageStyle{
    position: relative;
    left: 5.2em;
    color: red;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.05em;
    font-size: 14px;
}

