<!--
    Done by: Maram Lutfi Alfaraj - ID: 2190001583
-->

{% extends 'FVR_layout.html' %}

{% block title %}
    Forgot Password
{% endblock %}

{% block linkCSS %}
    <!--CSS Link-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='forgotPassword.css')}}">
{% endblock %}

{% block heading %}
    Forgot Password
{% endblock %}

{% block whtieboxContent %}

    <img class="fpLockImage" src="../static/img/padlock.png">  
    <p class="fp-paragraph">Please enter your email address to recieve a verification code</p>
    <!--Form-->
    <form action="{{ url_for('forgotPassword')}}" method="POST" id="form">
        <!--Email-->
        <input class="fp-textbox" id="email_fp" name="email_fp" type="text" placeholder="Enter email address">
        <!--Error Message-->
        <p class='errorMessageStyle'><b>{{ errormsg }}</b></p>
        <!--Buttons-->
        <div class="fp-div-buttons">
            <button type="submit" class="fp-button1" id="send_fp" name="send_fp">Send</button>
            <!--take user to sign in page-->
            <a href="javascript: history.go(-1)" style="text-decoration: none;"><button type="button" class="fp-button2" id="cancel_fp" name="cancel_fp">Back</button></a>
        </div>
    </form>

{% endblock %}


