<!--
    Done by: Maram Lutfi Alfaraj - ID: 2190001583
-->

{% extends 'FVR_layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block linkCSS %}
    <!--CSS Link-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='resetPassword.css')}}">
{% endblock %}

{% block heading %}
    Reset Password
{% endblock %}

{% block whtieboxContent %}
    <img class="fpLockImage" src="../static/img//approve.png">
    <!--Form-->
        <form action="{{ url_for('resetPassword')}}" method="POST" id="form">
            <div class="text-box-position">
                <div class="rp-div-textbox1">
                    <label class="rp-paragraph1">New Password</label>
                    <!--New Password-->
                    <input class="rs-textbox1" type="password" name="rs_pass1" id="rs_pass1" placeholder="Enter new password">
                    <!--Password Instructions Button-->
                    <button class="rp-button-info" type="button" id="rs_info" name="rs_info" onClick="showPassRules()">!</button>
                </div>
                <div class="rp-div-textbox2">
                    <label class="rp-paragraph2">Confirm Password</label>
                    <!--Confirm Password-->
                    <input class="rs-textbox2" type="password" name="rs_pass2" id="rs_pass2" placeholder="Re-type new password">
                </div>
                <!--Error Message-->
                <p class='rp_errorMessageStyle'><b>{{ errormsg }}</b></p>
            </div>
            
            <!--Buttons-->
            <div class="fp-div-buttons">
                <button class="fp-button1" id="rp_confirm" name="rp_confirm" type="submit">Confirm</button>
                <!--take user to sign in page-->
                <a href="{{url_for('verificationCode')}}"><button class="fp-button2" name="" type="button">Cancel</button></a>
            </div>
        </form>
        <!--New password instructions-->
        <div class="passwordrules-box">
            Must contain at least:
            <br>- 8 characters
            <br>- One symbol '@,$,..'
            <br>- One capital letter 'A-Z'
            <br>- One small letter 'a-z'
            <br>- One number '0-9'
        </div>
    <!--JavaScript Link-->
    <script src="{{url_for('static', filename='resetPassword.js')}}"></script>

{% endblock %}


